.hero-section {
    background: #0b0b52;
background: linear-gradient(122deg, rgba(11, 11, 82, 1) 0%, rgba(9, 121, 89, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.nav-bar {
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    margin: 30px 5%;
    width: 90%;
    background-color: rgb(22, 20, 20);
}