.nav-bar {
    color: white;
    border-radius: 10px;
    margin: 30px 5%;
    width: 90%;
    background-color: rgba(142, 182, 255, 0.86);
    padding: 1.1rem 8rem;
    position: fixed;
    z-index: 30;
    box-shadow:0px 0px 24px 7px rgba(83,83,83,0.49);
box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
@media (max-width: 768px) {
 .nav-bar   {
    margin: 0;
    width: 100%;
    position: fixed;
    border-radius: 0;;

 }
}